<nav class="main-menu">
    <ul>
        <li>
            <a>
                <i class="fa fa-warehouse fa-2x" ></i>
                <span class="nav-text" style=" font-size: 20px;">
                    ENVIAFACIL
                </span>
            </a>
          
        </li>
        <li>
            <a routerLink="/Inicio">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Inicio
                </span>
            </a>
          
        </li>
        <li>
            <a routerLink="/Pedidos">
                <i class="fa fa-shopping-cart fa-2x"></i>
                <span class="nav-text">
                    Pedidos
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a routerLink="/Productos">
            <i class="fa fa-apple fa-2x"></i>
                <span class="nav-text">
                    Productos
                </span>
            </a>            
        </li>
        <li class="has-subnav">
            <a routerLink="/ListaPrecios">
               <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Lista de precios
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a routerLink="/Clientes">
               <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Clientes
                </span>
            </a>
           
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Provedores
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money fa-2x"></i>
                <span class="nav-text">
                   Compras
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-truck fa-2x"></i>
                <span class="nav-text">
                   Repartidores
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>
